{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/index.css" }}
{{ with resources.Get "sass/layouts/index.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
{{ $recentPosts := first 1 (where .Site.RegularPages "Type" "posts") }}
<main class="home-simple">
    <section id="content" class="index home-intro content">
        {{ with .Site.GetPage "_index.md" }}
            {{ .Content }}
        {{ else }}
            <p>{{ .Site.Params.description }}</p>
        {{ end }}
    </section>

    {{ with index $recentPosts 0 }}
    <section class="home-latest" aria-labelledby="home-latest-title">
        <p class="home-latest-label">Latest</p>
        <a class="home-latest-link" href="{{ .RelPermalink }}">
            <span class="home-latest-title" id="home-latest-title">{{ .Title }}</span>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        </a>
    </section>
    {{ end }}
</main>
{{ end }}
